.sectionWrp h1 {
  background: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  width: 520px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.sectionWrp {
  margin-bottom: 80px;
}
